# Default ignored files
/.idea
/out
/auxil
7338-Tarea1.iml
main.aux
main.fdb_latexmk
main.fls
main.ilg
main.log
main.pdf
main.xdv
*.aux
src/main.bcf
src/main.idx
src/main.ind
src/main.toc
src/main.run.xml
